/* Sarah Kessi - 20348702, Felicia Luu - 22334856, Marie Makarenkov 20342056, Kenza Hilali 20205908 */

/* ------ Page Accueil ------ */

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding: 0;
}

section {
    display: block;
}

.responsive-elements * {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.responsive-elements {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #404040;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}


.responsive-elements .header-logo {
    margin: 0 0 0 65px;
    padding: 13px 0 6px 0;
}

.responsive-elements p {
    margin: 0 0 1.25em 0;
    padding: 0;
    line-height: inherit
}

.main-header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.responsive-elements li {
    margin: 0;
    padding: 0 0 .5em 0;
}

.main-header li {
    margin: 0;
    padding: 0;
}

.icon-menu .header-nav-button {
    left: 0;
    text-indent: 0;
}

.icon-menu .header-nav-button:hover {
    background:#414040;
}

.icon-profile .header-nav-button:hover {
    background:#414040;
}

.icon-booking .header-nav-button:hover {
    background: #414040;
}

.header-nav-button strong {
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    color: #a6a6a6;
    font-size: 10px;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    text-indent: 0;
}

.icon-menu .header-nav-button strong {
    bottom: 8px;
    font-size: .9rem;
}

.icon-menu .header-nav-button span, .icon-menu .header-nav-button span:after, .icon-menu .header-nav-button span:before {
    content: "";
    width: 24px;
    border-top: 2px solid #fff;
    position: absolute;
    top: 21px;
    left: 50%;
    margin-left: -12px;
}

.icon-menu .header-nav-button span {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 24px;
    margin-left: -12px;
    border-top: 2px solid #fff;
}

.icon-menu .header-nav-button span::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 24px;
    border-top: 2px solid #fff;
}

.icon-menu .header-nav-button span::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;
    width: 24px;
    border-top: 2px solid #fff;
}

.is-active .header-nav-button {
    color: #404040;
    background: #2b2b2b;
}

.main-header .header-nav ul {
    padding-top: 0;
}

.main-header {
    position: relative;
    background: #000;
    z-index: 1020;
}

.wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 15px;
    max-width: 1010px;
}

.responsive-elements .header-logo a {
    display: block;
    width: 95px;
    height: 35px;
    text-indent: -9999px;
    background: url("img/sepaq.png") 0px 0px / 95px no-repeat;
}

.main-header .wrapper {
    padding: 0;
    max-width: 1040px;
}

.header-nav-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-indent: -9999px;
    border-left: 1px solid #2b2b2b;
    border-right: 1px solid #2b2b2b;
    cursor: pointer;
}

.hero .hero-img {
    background-image: url("img/hero-small.jpg");
}

.hero .hero-contenu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 15px;
    color: #fff;
    z-index: 5;
    box-sizing: border-box; 
}

.hero .hero-contenu h1 {
    display: block;
    position: relative;
    padding: 0 0;
    margin: 0 0;
    text-transform: none;
    text-align: left;
}

.title-shadow {
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .7));
    width: 218px;
}

body.page-info {
    background: #fff;
}

.hero {
    position: relative;
    min-height: 320px;
    padding-bottom: 58.18181818181818%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

.hero .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive-elements .tag-repere {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px 5px 25px;
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    background: #000;
    background: rgb(0 0 0 / .5);
    z-index: 10;
    transition: background-color 0.3s ease;
}

.tag-repere:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin: -8px 0 0 6px;
    width: 15px;
    height: 15px;
    background: url("img/sprite-rwd.svg") -45px -310px no-repeat;
    vertical-align: middle;
}

.hero h1 {
    display: none;
}

.page-contenu {
    position: relative;
    background: #fff;
}

.section-contenu {
    position: relative;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.section-contenu-1 {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1280px;
    z-index: 1;
}

.zigzag .items-colonne:last-child {
    margin: 0;
    padding: 0;
}

.zigzag .visuel.items-colonne {
    justify-content: center;
}

.gauche {
    text-align: left;
}

.responsive-elements a {
    color: #005c9a;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.main-header a {
    text-decoration: none;
}

.video a {
    display: block;
    position: relative;
}

.video a.icone-video:before,
.header .player:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -14px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid white;
    opacity: 0.7;
    transition: all 0.3s ease;
    z-index: 2;
}

.video a.icone-video:after,
.video .icone-360:after,
.header .player:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border: 4px solid white;
    border-radius: 100px;
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.responsive-elements .item-colonne-title {
    font-size: 30px;
}

.visuel .item-gauche.gauche {
    margin: 0 0 15px;
}

.responsive-elements h2 {
    margin: 30px 0 15px 0;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
}

.zigzag .video img {
    border-bottom: 1px solid #d4d4d4;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

.video img {
    max-width: 100%;
}

.video img {
    max-width: 100%;
}

h2.decore, .rwd h3.decore {
    padding-bottom: 15px;
}

h2.decore.bleu:after {
    border-bottom: 2px solid #2095f2;
}

.responsive-elements h2.decore:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 15px;
}

.section-contenu:nth-child(2n) {
    background-color: #efefef;
}

.center {
    text-align: center;
}

.cards:not(:first-child) {
    margin-top: 10px;
}

.cards {
    display: inline-block;
    margin: -5px -5px calc(10px * 3) -5px;
    width: calc(100% + 10px);
    overflow: hidden;
    font-size: 0;
    font-size: 0rem;
    text-align: center;
}

.cards-item {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 5px;
    overflow: hidden;
    transition: background 0.3s ease;
}

.cards-item {
    width: calc(100% - 10px);
}

a.cards-item {
    text-decoration: none;
}

.activites-img .cards-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.activites-img  .cards-item::after {
    display: block !important;
}

.cards-item-media {
    position: relative;
}

.cards-item-media img {
    display: block;
    width: 100%;
    height: auto;
}

.activites-img .cards-item-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.activites-img .cards-item-media img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate3d(-50%, -50%, 0);
    transition: all 0.3s ease;
}

.activites-img .cards:not(.count-1) .cards-item:not(.double-square-h):not(.double-square-v) .cards-item-contenu {
    left: 0;
    bottom: 0;
    padding-right: 60px;
    text-align: left;
}

.activites-img .cards-item:not(.double-square-h):not(.double-square-v) .cards-item-contenu {
    background: rgb(0 0 0 / .65);
}

.activites-img .cards-item-contenu {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 10;
    transition: opacity 0.3s ease;
}

.activites-img .cards-item-contenu:after {
    top: 50%;
    right: 20px;
    margin-top: -15px;
}

.cards-item-contenu {
    padding: 15px 20px;
}

.cards-item-contenu:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("img/sprite-rwd.svg") -420px -290px no-repeat;
    transition: all 0.3s ease;
}

.cards-item-media:hover ~ .cards-item-contenu::after {
    transform: scale(1.20);
}

.section-contenu .section-contenu-1 p:last-child {
    margin-bottom: 0px !important;
}

.cards .cards-item-title {
    margin: 0;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.responsive-elements .bouton.is-blue {
    color: #fff;
    background-color: #2095f2;
    border-color: #2095f2;
}

.responsive-elements .bouton.is-blue:hover {
    color: #fff;
    background-color: #50acf5;
}

.responsive-elements .bouton {
    display: inline-block;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: none;
    line-height: 1.5;
    border-radius: 4px;
    appearance: none;
    background: #ccc;
    border: 3px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-nav .header-nav-level {
    display: none;
    width: 100%;
    color: #fff;
    background: #2b2b2b;
}

.responsive-elements .is-lowercase {
    text-transform: none !important;
}

.header-subnav .has-border {
    border-top: 1px solid #404040;
}

.header-subnav .is-lowercase>a {
    text-transform: none;
}

.header-subnav a, .header-subnav button, .header-subnav span {
    position: relative;
    display: block;
    padding: 16px 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
}

.responsive-elements li li:last-child {
    padding-bottom: 0;
}

.search-bar {
    position: relative;
    margin: 0;
    padding: 15px;
}

.form-select.is-range.is-visuallyhidden, .is-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-input, .form-select, .form-textarea {
    display: block;
    position: relative;
    margin: 0;
    padding: 11px 15px;
    width: 100%;
    height: 46px;
    color: #404040;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: inherit;
    text-decoration: none;
    background: #efefef;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.header-subnav li:hover {
    background-color: #414040;
    transition: 0.3s ease;
}

.header-subnav {
    display: none;
}
.header-subnav.is-open {
    display: block;
}

.icon-profile .header-nav-button {
    right: 53px;
}

.icon-profile .header-nav-button:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background: url("img/sprite-rwd.svg") -30px -80px no-repeat;
}

.icon-booking .header-nav-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -15px;
    width: 30px;
    height: 30px;
    background: url("img/sprite-rwd.svg") -60px -80px no-repeat;
}

@media (min-width: 768px) {

    .wrapper {
        padding: 30px;
    }
    .hero .hero-img {
        background-image: url("img/hero.jpg");
    }

    .hero .hero-contenu {
        padding: 30px 15px;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .responsive-elements .tag-repere {
        left: auto;
    }

    .section-contenu {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .section-contenu-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .items-colonne {
        display: flex;
    }

    .visuel .item-gauche,
    .visuel .item-droite {
        max-width: 50%;
    }

    .visuel .item-gauche.gauche {
        margin: 0;
        position: relative;
        padding: 0 15px 0 0;
    }

    .responsive-elements h2 {
        font-size: 36px;
        font-size: 3.6rem;
    }

    .activites-img .cards.count-2 .cards-item {
        position: relative;
        width: calc(50% - 10px);
        max-width: none;
    }

    .cards-item-contenu {
        padding: 20px 30px;
    }

    .cards .cards-item-title {
        font-size: 24px;
        font-size: 2.4rem;
    }

    .cards-item {
        width: calc(50% - 10px);
    }

    .responsive-elements .bouton {
        width: auto;
        padding-left: 17px;
        padding-right: 17px;
    }

    .header-nav .icon-menu .header-nav-level {
        min-height: 690px;
    }

    .header-nav .header-nav-level {
        position: absolute;
        width: 33.33333%;
        z-index: 100;
    }

    .icon-profile .header-nav-button {
        right: 120px;
    }

    .icon-booking .header-nav-button {
        right: 0px;
        width: 120px;
        text-indent: 0;
        color: #404040;
        background: #79d156;
        border: none;
    }

    .icon-booking .header-nav-button::after {
        content: none;
        display: none;
    }

    .icon-booking .header-nav-button {
        right: 0;
    }

    .icon-booking .header-nav-button:hover {
        background: #69b54b;
    }
}

/* ------ Page Accessibilité ------ */

.responsive-elements h1,
.responsive-elements h3 {
  text-transform: uppercase;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.top .breadcrumb {
  margin-bottom: 50px;
  color: silver;
  font-size: 1.5rem;
}
.top .breadcrumb a{
    text-decoration: none;
    color: #005c9a;
}

.top h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 15px 0;
}

.top p{
    max-width: 110ch;     
    width: 100%;
    padding: 0 1rem;      
    text-align: center;
    height: auto;         
}

.accessiblite-image-div img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    display: block;
  
}

.accessiblite-image-div {
    position: relative;
    width: 100vw;
    height: 80vh;         
    overflow: hidden;
}


.middle h2{
    width: 80%;
}


.sorties-simples{
    max-width: 1045px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 30px;

}

.ete-hiver-bouttons button{
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    background-color: #2095f2;
    border: none;
    border-radius: 5px;
    padding:  13px 17px;
}

.ete-hiver-bouttons{
    display: flex;
    gap: 20px;
    margin: 0 0 1.25em 0
}

.responsive-elements .consulter-aussi{
    background-color: #D4D4D4;
    padding: 20px;
    margin-bottom: 30px;
}


.responsive-elements .consulter-aussi p{
    color: #404040;
    font-size: 1.6rem;
    margin-bottom: 0;

}

.consulter-aussi a{
    color: #404040;
}

.comm-prealablement{
    color: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: .8;
    max-width: 200ch;
}

.chien-guides, .documentation {
    background-color: #efefef;
}

.chien-guides > div,.carte-accompagnement, .documentation > div, .accessibilite-site-web{
    max-width: 1045px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 1rem;
    padding-left: 30px;
    padding-right: 30px;
}

.chien-guides > div > p {
    width: 100%;
    max-width: 110ch;
}

.accessibilite-site-web h3{
    font-size: 24px;
}


/* CSS page Nous-Joindre Sépaq */
* {
  box-sizing: border-box;
}

/* Taille de caractère pour toute la page Nous-joindre*/
.page-nous-joindre {
  font-size: 16px;
}

.page-nous-joindre body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.6;
  background: #fff;
}

.contenu {
    font-size: 16px;
}

.section-content,section {
  width: 100%;
}

.section-content-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Section Top Info */
ul.Top_info {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
  justify-content: center;
}

ul.Top_info li a {
  text-decoration: none;
  color: #0072ce;
}

ul.Top_info li::after {
  content: ">";
  margin-left: 10px;
  color: #999;
}

ul.Top_info li:last-child::after {
  content: "";
}

ul.Top_info li:last-child a {
  color: #999;
}

/* Titres et paragraphes*/
.page-nous-joindre h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.page-nous-joindre h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.page-nous-joindre h3, .section-content-content h3 {
  font-size: 1.3rem;
  margin-top: 30px;
}

.page-nous-joindre p, .section-content-content p {
  max-width: 800px;
  margin: 0 auto 15px;
  text-align: center;
}

/* Section Soyez informé */
section.Soyez_informé {
  background: #404040;
  color: #fff;
  text-align: center;
}

.page-nous-joindre .Soyez_informé h3 {
  font-size: 1.5rem;
}

section.Soyez_informé h3 {
  font-size: 2.5rem;
}

section.Soyez_informé p {
  max-width: 1000px;
  min-height: 10px;
}

.inscrivez-vous{
    width: 100%;
}

/* Section message jaune*/
.message_jaune {
  background: #fff176;
  border-left: 6px solid #f4c400;
  padding: 20px;
  margin: 40px auto;
  max-width: 900px;
}

.message_jaune p {
  margin: 0;
  text-align: left;
}

/* Section Contactez-nous */

.Contactez-nous {
  margin-top: 70px;
}
section.Contactez-nous {
  background: #f2f2f2;
  padding-top: 50px;   
  text-align: center;
  position: relative;
}

section.Contactez-nous p {
  max-width: 900px;
}

/* Photo du proposé dans la section Contactez-nous */

section.Contactez-nous .Préposé {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: -70px;          
  left: 50%;
  transform: translateX(-50%);
}

/* Boutons bleus et verts */
.Bouton {
  display: inline-block;
  padding: 14px 24px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  font-size: 0.95rem;
  margin: 10px;
}

.Bouton.bleu {
  background: #1e88e5;
}

.Bouton.vert {
  background: #79d156;
  color:#4a4a4a;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Section Centre de relations */
section.Info_centre_relations {
  background: #fff;
  text-align: left;
}

section.Info_centre_relations h2,
section.Info_centre_relations h3,
section.Info_centre_relations p {
  text-align: left;
  max-width: 100%;
}

/* Section Siège social */
section.Siège_social {
  background: #f2f2f2;
}

section.Siège_social h2 {
  text-align: left;
}

section.Siège_social p {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

section.Siège_social {
  padding: 40px 0;
}

/* Section emplacements touristiques */

section.Info_emplacements_touristiques{
  background: #fff;
  padding: 40px 0;
  border-top: 1px solid #d9d9d9;
}

section.Info_emplacements_touristiques .acc{
  max-width: 1100px;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}

section.Info_emplacements_touristiques .acc:first-child{
  border-top: none; 
}

section.Info_emplacements_touristiques .acc__row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 20px;         
}

section.Info_emplacements_touristiques .acc__label{
  font-size: 2.2rem;
  font-weight: 800;
  color: #444;
  letter-spacing: 0.5px;
}

section.Info_emplacements_touristiques .acc__plus{
  font-size: 2.2rem;
  font-weight: 400;
  color: #444;
  line-height: 1;
}

/* Footer Nous joindre */

.Footer_nous-joindre {
  background: #fff;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
}

.Footer_nous-joindre .wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 48px 32px 34px;

  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  column-gap: 90px;
  row-gap: 28px;
  align-items:flex-start;
}


/* titres */
.Footer_nous-joindre h3{
  margin: 0 0 18px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

/* listes */
.Footer_nous-joindre ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


.Footer_nous-joindre li{
  margin: 0 0 18px;
}

/* liens */
.Footer_nous-joindre a{
  color: #4a4a4a;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 200;
}

.Footer_nous-joindre a:hover{
  text-decoration: underline;
}

/* Section séparée par lignes */

.Footer_nous-joindre .Footer_contacts{
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;
}

.Footer_nous-joindre .Footer_contacts .téléphone{
  font-size: 20px;
  font-weight: 300;
  color: #4a4a4a;
}

.Footer_nous-joindre .Footer_contacts .Réseaux{
  display: block;
  height: 60px;    
  width: auto;
}

.Footer_nous-joindre .Footer_autre{
  grid-column: 1 / -1;
  border-top: 1px solid #e6e6e6;
  padding: 26px 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
  font-size: 14px;
}

.Footer_nous-joindre .Footer_autre a{
  color: #666;
  text-decoration: none;
}

/* Ajustement grosseur du text dans la navbar */

.page-nous-joindre .icon-menu .header-nav-button strong {
    bottom: 8px;
    font-size: .6rem;
}

.page-nous-joindre .icon-menu .header-nav-level {
    font-size: 16px;
}


.page-nous-joindre .icon-booking {
    bottom: 8px;
    font-size: 16px;
}


.page-nous-joindre .form-input {
    font-size: 16px;
}



/* ------ Media ------ */

@media (min-width: 991px) {
    .hero {
        padding-bottom: 0;
        height: 576px;
    }

    .section-contenu {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .section-contenu-1 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1024px) {
    .visuel .item-gauche.gauche {
        margin: 0;
        position: relative;
        padding: 0 30px 0 0;
    }

    .visuel .item-droite.droite {
        padding: 0 0 0 30px;
    }
}

@media (min-width: 1199px) {
     .section-contenu {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-contenu-1 {
        padding-left: 120px;
        padding-right: 120px;
    }

    .cards-item {
        max-width: 320px;
    }
}

@media (max-width: 767px) {
    .top h1 {
        font-size: 32px;
    }

    .accessiblite-image-div {
        height: 50vh;
    }

    .ete-hiver-bouttons{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .ete-hiver-bouttons button{
        display: flex;
        justify-content: center;
        flex: 1;
    }

    .Footer_nous-joindre .wrapper, .Footer_contacts, .Footer_autre{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Footer_nous-joindre h3, .page-nous-joindre ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .Footer_nous-joindre li > a{
        color: #404040;
        font-size: 1.4rem;
        font-weight: 400;
    }

}






