/* Sarah Kessi - 20348702, Felicia Luu - 22334856 */

/* ------ Page Accueil ------ */

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding: 0;
}

section {
    display: block;
}

.title-shadow {
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .7));
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .7));
    width: 218px;
}

body.page-info {
    background: #fff;
}

* {
    box-sizing: border-box;
}

.rwd * {
    box-sizing: border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.responsive-elements {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #404040;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero {
    padding-bottom: 0;
    height: 576px;
}

.hero {
    position: relative;
    min-height: 320px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

.hero .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.responsive-elements .tag-repere {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px 5px 25px;
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
    background: #000;
    background: rgb(0 0 0 / .5);
    z-index: 10;
    -webkit-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.tag-repere:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin: -8px 0 0 6px;
    width: 15px;
    height: 15px;
    background: url("img/sprite-rwd.svg") -45px -310px no-repeat;
    vertical-align: middle;
}

.hero h1 {
    display: none;
}

.page-contenu {
    position: relative;
    background: #fff;
}

.section-contenu {
    position: relative;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.section-contenu-1 {
    display: block;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1280px;
    z-index: 1;
}

.zigzag .items-colonne:last-child {
    margin: 0;
    padding: 0;
}

.zigzag .visuel.items-colonne {
    justify-content: center;
}

.gauche {
    text-align: left;
}

.responsive-elements a {
    color: #005c9a;
    text-decoration: underline;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.video a {
    display: block;
    position: relative;
}

.video a.icone-video:before,
.header .player:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -20px 0 0 -14px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 35px solid white;
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 2;
}

.video a.icone-video:after,
.video .icone-360:after,
.header .player:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border: 4px solid white;
    border-radius: 100px;
    opacity: 0.7;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
}

.responsive-elements .item-colonne-title {
    font-size: 30px;
}

.visuel .item-gauche.gauche {
    margin: 0 0 15px;
}

.responsive-elements h2 {
    margin: 30px 0 15px 0;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.1;
    text-transform: uppercase;
}

.zigzag .video img {
    border-bottom: 1px solid #d4d4d4;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}


.video img {
    max-width: 100%;
}

.video img {
    max-width: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

h2.decore, .rwd h3.decore {
    padding-bottom: 15px;
}

h2.decore.bleu:after {
    border-bottom: 2px solid #2095f2;
}

.responsive-elements h2.decore:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 15px;
}

.section-contenu:nth-child(2n) {
    background-color: #efefef;
}

.center {
    text-align: center;
}

.cards:not(:first-child) {
    margin-top: 10px;
}

.cards {
    display: inline-block;
    margin: -5px -5px calc(10px * 3) -5px;
    width: calc(100% + 10px);
    overflow: hidden;
    font-size: 0;
    font-size: 0rem;
    text-align: center;
}

.cards-item {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 5px;
    overflow: hidden;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.cards-item {
    width: calc(100% - 10px);
}

a.cards-item {
    text-decoration: none;
}

.activites-img .cards-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.activites-img  .cards-item::after {
    display: block !important;
}

.cards-item-media {
    position: relative;
}

.cards-item-media img {
    display: block;
    width: 100%;
    height: auto;
}

.activites-img .cards-item-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.activites-img .cards-item-media img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.activites-img .cards:not(.count-1) .cards-item:not(.double-square-h):not(.double-square-v) .cards-item-contenu {
    left: 0;
    bottom: 0;
    padding-right: 60px;
    text-align: left;
}

.activites-img .cards-item:not(.double-square-h):not(.double-square-v) .cards-item-contenu {
    background: rgb(0 0 0 / .65);
}

.activites-img .cards-item-contenu {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 10;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.activites-img .cards-item-contenu:after {
    top: 50%;
    right: 20px;
    margin-top: -15px;
}

.cards-item-contenu {
    padding: 15px 20px;
}

.cards-item-contenu:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("img/sprite-rwd.svg") -420px -290px no-repeat;
    transition: all 0.3s ease;
}

.section-contenu .section-contenu-1 p:last-child {
    margin-bottom: 0px !important;
}

.cards .cards-item-title {
    margin: 0;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}


@media (min-width: 768px) {
    .hero .hero-img {
        background-image: url("img/hero.jpg");
    }

    .responsive-elements .tag-repere {
        left: auto;
    }
    
    .hero .hero-contenu {
        padding: 30px 15px;
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .hero-contenu h1 {
        display: block;
        position: relative;
        padding: 0 0;
        margin: 0 0;
        text-transform: none;
        text-align: left;
    }

    .section-contenu {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .section-contenu-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .items-colonne {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
    }

    .visuel .item-gauche,
    .visuel .item-droite {
        max-width: 50%;
    }

    .visuel .item-gauche.gauche {
        margin: 0;
        position: relative;
        padding: 0 15px 0 0;
    }

    .responsive-elements h2 {
        font-size: 36px;
        font-size: 3.6rem;
    }

    .responsive-elements p {
        margin: 0 0 1.25em 0;
        padding: 0;
        line-height: inherit
    }

    .activites-img .cards.count-2 .cards-item {
        position: relative;
        width: calc(50% - 10px);
        max-width: none;
    }

    .cards-item-contenu {
        padding: 20px 30px;
    }

    .cards .cards-item-title {
        font-size: 24px;
        font-size: 2.4rem;
    }

    .cards-item {
        width: calc(50% - 10px);
    }

}

@media (min-width: 991px) {
    .section-contenu {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .section-contenu-1 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (min-width: 1024px) {
    .visuel .item-gauche.gauche {
        margin: 0;
        position: relative;
        padding: 0 30px 0 0;
    }

    .visuel .item-droite.droite {
        padding: 0 0 0 30px;
    }
}

@media (min-width: 1199px) {
     .section-contenu {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .section-contenu-1 {
        padding-left: 120px;
        padding-right: 120px;
    }

    .cards-item {
        max-width: 320px;
    }
}
